<div class="form">
  <h1>サインイン</h1>
  <%= form_with(scope: :session,url: sessions_path,local: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <%= f.submit %>
  <% end %>
<div>
